body{
    margin: 0;
    padding: 0;
    background-image: url("smart-city.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.digital-clock{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
gap: 1.2rem;
}

span{
    
    font-size: 4rem;
    font-weight: bold;
    color: #00ffcc;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc , 0 0 30px #00ffff , 0 0 40px #00ffff ;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.4); ;
    padding: 20px;
}

#date{
    font-size: 3rem;
}